[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=04_calculator
Exec=04_calculator
Name=04_calculator
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=04_calculator
